<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="myBeanPostProcessor" class="com.baizhidu.beanpostprocessor.MyBeanPostProcessor"/>

    <bean id="category" class="com.baizhidu.beanpostprocessor.Category">
        <property name="name" value="ynf"/>
        <property name="id" value="1"/>
    </bean>
</beans>