<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
    <bean id="braveKnight" class="cn.ynf.bean.BraveKnight">
        <constructor-arg ref="quest"></constructor-arg>
    </bean>
    <bean id="quest" class="cn.ynf.bean.SlayDragonQuest">
        <constructor-arg value="#{T(System).out}"></constructor-arg>
    </bean>
    <bean id="minstrel" class="cn.ynf.bean.Minstrel">
        <constructor-arg value="#{T(System).out}"/>
    </bean>
    <aop:config>
        <aop:aspect ref="minstrel">
            <!--定义切点-->
            <aop:pointcut id="minstrelPointCut" expression="execution(* cn.ynf.bean.BraveKnight.*(..))"/>
            <!--声明前置通知-->
            <aop:before method="singBeforQuest" pointcut-ref="minstrelPointCut"></aop:before>
            <!--声明后置通知-->
            <aop:after method="singAfterQuest" pointcut-ref="minstrelPointCut"></aop:after>
        </aop:aspect>
    </aop:config>
</beans>