<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    <bean id="address" class="com.atguigu.spring.autowire.Address" p:city="BeiJing" p:street="HuiLonGuan"/>
    <bean id="car" class="com.atguigu.spring.autowire.Car" p:brand="Audi" p:price="300000"/>
    <!--可以使用autowire属性自动装配的方式，
        byName 根据bean的名字和当前bean的setter风格的属性名进行装配,若有匹配的则进行自动装配，若没有匹配的则不装配
        byType 根据bean的类型和当前bean的类型进行自动装配,若IOC容器中有一个以上的类型匹配的bean，则抛异常
     -->
<!--    <bean id="person" class="com.atguigu.spring.autowire.Person" p:name="LiMing" autowire="byName"/>-->
    <bean id="person" class="com.atguigu.spring.autowire.Person" p:name="LiMing" autowire="byType"/>
</beans>