<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean id="userService1" class="com.baizhiedu.proxy.UserServiceImpl"/>
    <bean id="orderService1" class="com.baizhiedu.proxy.aa.OrderServiceImpl"/>
    <bean id="arround" class="com.baizhiedu.interceptor.Arround"/>
    <aop:config>
        <!--定义切入点-->
<!--        <aop:pointcut id="ponintCut1" expression="execution(* com.baizhiedu.proxy..*.*(String,..))"/>-->
<!--        <aop:pointcut id="ponintCut1" expression="args(String,String)"/>-->
        <aop:pointcut id="ponintCut1" expression="execution(* login(..)) and execution(* register(..))"/>
        <aop:advisor advice-ref="arround" pointcut-ref="ponintCut1"/>
    </aop:config>
</beans>