<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean id="userService" class="com.baizhiedu.aspect.UserServiceImpl"/>
    <!--额外功能、切入点、组装切面-->
    <bean id="myAspect" class="com.baizhiedu.aspect.MyAspect"/>
    <!--告知Spring基于注解进行AOP编程-->
    <aop:aspectj-autoproxy proxy-target-class="true"/>
</beans>